<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <title>ZenDiary</title>
</head>

<body>
    <h1 class="homepage-zendiary"><a href="{{ url_for('main.index') }}"><img src="{{ url_for('static', filename='assets/zendiary-logo.png') }}" alt=""></a></h1>

    <div class="flex container homepage-header">
        <p class="greeting">Hello, {{ current_user.username }}!</p>
        <a class="logout-icon button flex" href="{{ url_for('main.logout') }}"
            onmouseover="changeImage('logout-icon', 'hover', 'logout')"
            onmouseout="changeImage('logout-icon', 'normal', 'logout')">
            <img id="logout-icon" src="{{ url_for('static', filename='assets/logout.png') }}" alt="">
        </a>
    </div>

    {% block body %} {% endblock %}

</body>

</html>